<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
       default-autowire="byName">

    <context:annotation-config />
   <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">-->
        <!--&lt;!&ndash; 日期格式转换 &ndash;&gt;-->
        <!--&lt;!&ndash;<property name="webBindingInitializer">&ndash;&gt;-->
            <!--&lt;!&ndash;<bean class="com.womai.wms.common.utils.DateConverter"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</property>&ndash;&gt;-->
   <!--</bean>-->
    <mvc:annotation-driven />
    <mvc:interceptors>
        <!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->
        <bean class="com.cdj.cms.SpringMVCInterceptor"/>

        <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的
          <mvc:interceptor>
              <mvc:mapping path="/admin/editOutBoundUrl.mmx"/>
              <bean class="mmb.sale.outbound.interceptor.OutBoundUrlInterceptor"/>
          </mvc:interceptor>
          -->
    </mvc:interceptors>
    <context:component-scan base-package="com.cdj.cms" />


	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
	    <property name="order" value="0" />
	</bean>

	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
	  <property name="order" value="1" />
	</bean>

	<!-- 解决静态文件url问题，参考：http://forum.springsource.org/showthread.php?p=182204 -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" >
	</bean>
 	<bean name="/**/*.jhtml" class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>


    <!-- 全局异常配置 start -->
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">error</prop>
                <prop key="java.lang.Throwable">error</prop>
                <prop key="javax.servlet.ServletException">error</prop>
            </props>
        </property>
        <!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->
        <property name="warnLogCategory" value="WARN"></property>
        <!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->
        <property name="defaultErrorView" value="error"></property>
    </bean>
    <!-- 全局异常配置 end -->

    <!-- 文件上传解析器 id 必须为multipartResolver 10485760=10M-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
    </bean>
</beans>