<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://code.alibabatech.com/schema/dubbo
		     http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="true">

    <!--  dubb配置注册信息分割线-->
    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}"
                    group="${dubbo.registry.group}"/>
    <dubbo:protocol port="-1"/>




    <!--短信worker end-->

     <dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}"  group="${dubbo.registry.group.uic}" id="shch"/>

</beans>
